@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
    background-color: #e3bebb;
    background: linear-gradient(to bottom right, #843f1181, #c68b80, #f5f4f4, #e3bebb, #f264648e);
    font-family: 'Monserrat', sans-serif;
    margin: 2rem;
  }
  
  h2 {
    font-family: 'Berkshire Swash', cursive;
    color: ;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 18rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 1rem 2rem;
    background-color: #843f11;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  textarea {
    width: 18rem;
    height: 10rem;
  }
  
  #subcategorias_ansiedad,
  #subcategorias_depresion,
  #subcategorias_estres,
  #subcategorias_relaciones {
    margin-top: 1rem;
  }
  
  #subcategorias_ansiedad label,
  #subcategorias_depresion label,
  #subcategorias_estres label,
  #subcategorias_relaciones label {
    display: block;
    margin-top: 0.5rem;
  }
  
  #subcategorias_ansiedad select,
  #subcategorias_depresion select,
  #subcategorias_estres select,
  #subcategorias_relaciones select {
    width: 18rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  