@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  background-color: #f5f4f4;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size:1rem;
  margin: 2rem;
}

#inicio-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
}

  #inicio-link:hover {
    color: red; 
    text-decoration: underline;
  }

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #834f11;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000000;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #c68b80;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  font-size: 1rem;
  color: #f5f4f4;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 1rem 2rem;
  background-color: #834f11;
  color: #f5f4f4;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #e3bebb;
}

button:disabled {
  background-color: #c68b80;
  cursor: not-allowed;
}

textarea {
  width: 100%;
  height: 10rem;
}

#subcategorias_ansiedad,
#subcategorias_depresion,
#subcategorias_estres,
#subcategorias_relaciones {
  margin-top: 1rem;
}

#subcategorias_ansiedad label,
#subcategorias_depresion label,
#subcategorias_estres label,
#subcategorias_relaciones label {
  display: block;
  margin-top: 0.5rem;
  color: #834f11;
}

#subcategorias_ansiedad select,
#subcategorias_depresion select,
#subcategorias_estres select,
#subcategorias_relaciones select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #834f11;
  border: none;
  color: #f5f4f4;
  border-radius: 4px;
  box-sizing: border-box;
  
}



