

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); /*navbar */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');/*icono*/

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}
nav ul { /*Etiqueta de las letras nav*/
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Raleway', sans-serif;
		font-size: 1.25rem;
		font-weight: bold;
		width: 100%;
		letter-spacing: 5px;
	}
nav li { /*Box del nav */
	display: flex;
	justify-content: space-evenly;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.nav-item a{ /*Fuente letra navbar*/
	padding: 0px 30px 20px 30px;
	display: contents;
    font-family: 'Montserrat', sans-serif;
}
/*img nav*/
#gif1{
	align-items: center;
	display: block;
	margin: auto;
}
/*Descripcion*/
#titledescription{
	text-align: center;
	color: #843f11;
	font-size: 60px;
	font-family: ;
}
#description1{
	text-align: center;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 100px;
}
/*Equipo de trabajo*/
.accordion-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
	font-size: 30px;
	margin-right: 300px;
	margin-left: 300px;
}
#titleacord {/*pendiente fuente*/
    font-size: 26px;
	text-align: center;
	margin-left: 1000px;
}
.accordion-header {
    display: flex;
    justify-content: center;
	text-align: center;
}
/*Footer*/
.footer{
	background-color: #efe4e3;
	font-family: 'Bowlby One', cursive;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
	padding: 2px;
	
  }
  .footer-row{

	width: 100%;
	font-size: 30px;
  }
.title-footer{

	width: 100%;
	font-size: 30px;
  }
  /*Logo y titulo*/
#logoimg{
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
	margin-bottom: -35px;
}
#titlelogo{
    align-items: center;
    text-align: center;
    flex-direction: column;
	font-family: 'Bowlby One', cursive;
	font-weight:bold;
	letter-spacing: 6px;
	font-size: 35px;
	color: #843f11;
	display: flex;
	border-radius: 5px solid #e3bebb;
}