

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); /*navbar */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');/*icono*/

*{
    box-sizing: border-box;
}
p10{
	font-family: 'Bowlby One', cursive;
	font-weight:bold ;
	letter-spacing: 10px;
	font-size: 30px;
	color: #843f11;
	display: contents;
	border-radius: 3px solid #e3bebb;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	
}

header {
	background: #f5f4f4;
}

nav ul {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Raleway', sans-serif;
		font-size: 1.25rem;
		font-weight: bold;
		width: 100%;
		letter-spacing: 5px;
	}
nav li {
	display: flex;
	justify-content: space-evenly;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

nav a {
	display: flex;
	align-items:flex-start;
	font-family: 'Bakbak One', cursive;
}

nav a h3 {
	margin-top: auto;
	font-size:1.4rem;
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	color:#002244;
	text-align: center;
}
.nav-item a{
	padding: 0px 30px 20px 30px;
	display: contents;
    font-family: 'Montserrat', sans-serif;
}
/*BODY*/
.accordion-body{/*texto dentro del acordeon*/
    text-align: center;
    font-weight: bold;
}
h7{
    text-align: center;
}






/* FOOTER */
.footer{
	background-color: #efe4e3;
	font-family: 'Bowlby One', cursive;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
	padding: 2px;
	
  }
  .footer-row{

	width: 100%;
	font-size: 30px;
  }
.title-footer{

	width: 100%;
	font-size: 30px;
  }